<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptates, corrupti cum tenetur officiis magnam quia maiores ratione necessitatibus, pariatur accusantium! Beatae corrupti consequuntur repudiandae, deleniti debitis omnis voluptates vero!</p>
        </div>

    </div>   
</div>

<!-- Create contact form -->
 <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Photo Url" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Email" type="email">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select class="form-control" name="" id="">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="assets/photos/man-user-color-icon.png" alt="" class="contact-img">
        </div>
    </div>
 </div>